
@font-face {
    font-family: 'avalonregular';
    src: url('../fonts/avalon_regular-webfont.woff') format('woff2'),
         url('../fonts/avalon_regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avalonbold';
    src: url('../fonts/avalon_bold-webfont.woff2') format('woff2'),
         url('../fonts/avalon_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'd-dinregular';
    src: url('../fonts/d-din-webfont.woff2') format('woff2'),
         url('../fonts/d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'd-dindin-bold';
    src: url('../fonts/d-din-bold-webfont.woff2') format('woff2'),
         url('../fonts/d-din-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p{
    margin: 0;
    font-family: 'avalonregular'!important;
    color: #212121;
    font-size: 13px;
}
a{
    font-family: 'avalonregular'!important; 
    color: #545454!important;
    text-decoration: none!important;
    -webkit-transition: color .3s, opacity .3s;
    -o-transition: color .3s, opacity .3s;
    transition: color .3s, opacity .3s;
}
input[type='text']{
    font-family: 'avalonregular'!important;
}
input::-webkit-input-placeholder{
    font-size: 13px!important;
}
input::-moz-placeholder{
    font-size: 13px!important;
}
input:-ms-input-placeholder{
    font-size: 13px!important;
}
input::-ms-input-placeholder{
    font-size: 13px!important;
}
input::placeholder{
    font-size: 13px!important;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-size: 1.6rem;
    background-color: #F8F8F8;
    line-height: 1.5;
    color: #212121;
    font-family: 'avalonregular'!important;
    position: relative;
    overflow: auto;
    padding: 0 !important;
}
input:focus{
    outline: none !important;
    box-shadow: none !important;
    /* background: transparent; */
}
input{
    background: transparent;
}
select:focus{
    outline: none !important;
    box-shadow: none !important;
}
select{
    background: transparent;
}
button{
    background: transparent;
    border: none;
}
.button{
     font-size: 13px;
    /* font-size: 1.4rem; */
    color: #212121;
    display: inline-block;
    min-width: 150px;
    padding: 10.5px 10px;
    line-height: 14px;
    text-align: center;
    background-color: #FFE256;
    -webkit-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}
.button span i {
    font-size: 18px;
    margin-left: 8px;
}
.button2{
     font-size: 13px;
    /* font-size: 1.4rem; */
    color: #212121;
    display: inline-block;
    min-width: 150px;
    padding: 10.5px 10px;
    line-height: 14px;
    text-align: center;
    background-color: #fff;
    -webkit-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}
.button2:hover{
    color: #FFF!important;
    background-color: #B8B8B8
}
.button2 span i {
    font-size: 18px;
    margin-left: 8px;
}




/*header*/
/* .upperHeaderContent p {
    font-size: 11px;
    line-height: 1;
    margin: 0;
    color: #565656;
}
.upperHeaderSideContent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.upperHeaderSideContent p{
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.upperHeaderSideContent p a {
    padding: 5px 16px;
    border-left: 1px solid #E7E7E7;
    display: block;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}
.upperHeaderSideContent p a b {
    color: #000;
}
.upperMiddleSideContent ul li a span {
    position: absolute;
    top: 60%;
    left: 60%;
    -webkit-transform: translate(-70%, -40%);
        -ms-transform: translate(-70%, -40%);
            transform: translate(-70%, -40%);
    font-size: 11px;
}
img.logoLsmart {
    width: 142px;
}
.subMenuBtn>a>span {
    float: right;
    font-size: 20px;
    margin-top: -2px;
}
.inputSearch{
    border-bottom: 1px solid #9C9C9C;
}
.inputSearch select{
    width: 100%;
    border: none;
}
.inputSearch2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.inputSearch2 .searchInput {
    border: navajowhite;
    padding: 15px 0 8px;
    width: calc(100% - 30px);
}
ul li .searchInput {
    font-size: 13px;
    float: right;
    width: calc(100% - 25px);
    padding: 6px 8px 8px 0;
    margin: 0;
    color: #686868;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
figcaption p a {
    color: #212121;
    font-size: 13px;
}
.upperHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.middleHeader{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.translation-country p img{
    width: 15px;
}
.upperMiddleSideContent ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.upperMiddleSideContent ul li{
    margin-right: 20px;
}
.lowerHeader{
    background: #f8f8f8;
}
.lowerHeader ul>li{
    list-style: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
.lowerHeader .sidebarContent>ul>li>a:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: #595959;
    bottom: 0;
    right: 50%;
    left: 50%;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}
.lowerHeader .sidebarContent>ul>li>a:hover:before{
    width: 100%;
    left: 0;
    right: 0;
}
.subMenu ul>li>a{
    text-transform: capitalize!important;
}
.subMenu ul>li>a:hover{
    text-decoration: underline!important;
}
.lowerHeader ul li a{
    font-size: 12px;
    line-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #333;
    text-align: center;
    position: relative;
    white-space: nowrap;
} */

/*header*/
.mobileMenu.active{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}
.upperHeaderContent p {
    font-size: 11px;
    line-height: 1;
    margin: 0;
    color: #565656;
}
.upperHeaderSideContent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.upperHeaderSideContent p{
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.upperHeaderSideContent p a {
    padding: 5px 16px;
    border-left: 1px solid #E7E7E7;
    display: block;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}
.upperHeaderSideContent p a b {
    /* font-weight: 800; */
    color: #000;
}
.upperMiddleSideContent ul li a span {
    position: absolute;
    top: 60%;
    left: 60%;
    -webkit-transform: translate(-70%, -40%);
        -ms-transform: translate(-70%, -40%);
            transform: translate(-70%, -40%);
    font-size: 11px;
}
img.logoLsmart {
    width: 142px;
}
.subMenuBtn>a>span {
    float: right;
    font-size: 20px;
    margin-top: -2px;
}
.inputSearch{
    border-bottom: 1px solid #9C9C9C;
}
.inputSearch select{
    width: 100%;
    border: none;
}
.inputSearch2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.inputSearch2 .searchInput {
    border: navajowhite;
    padding: 15px 0 8px;
    width: calc(100% - 30px);
}
.inputSearch2 .searchInput:focus {
    border: none;
    outline: none;
}
ul li .searchInput {
    font-size: 13px;
    /* font-size: 1.4rem; */
    float: right;
    width: calc(100% - 25px);
    padding: 6px 8px 8px 0;
    margin: 0;
    color: #686868;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
figcaption p a {
    color: #212121;
    font-size: 13px;
}
.upperHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.middleHeader{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.translation-country p img{
    width: 15px;
}
.upperMiddleSideContent ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.upperMiddleSideContent ul li{
    margin-right: 20px;
}
.lowerHeader{
    background: #f8f8f8;
}
.lowerHeader ul>li{
    list-style: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
.lowerHeader .sidebarContent>ul>li>a:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: #595959;
    bottom: 0;
    right: 50%;
    left: 50%;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}
.lowerHeader .sidebarContent>ul>li>a:hover:before{
    width: 100%;
    left: 0;
    right: 0;
}
.subMenu ul>li>a{
    text-transform: capitalize!important;
}
.subMenu ul>li>a:hover{
    text-decoration: underline!important;
}
.lowerHeader ul li a{
    font-size: 12px;
    line-height: 38px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #333;
    text-align: center;
    position: relative;
    white-space: nowrap;
}



/*index body*/
.richText-content{
    background-color: #ffe256;
}
.richText-content h2 {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'avalonregular'!important;
    margin-top: 0px;
    color: #212121;
    line-height: 32px;
}
.richText-content h2 strong {
    font-family: 'avalonregular'!important;
    font-size: 14px;
}
.richText-content h2 a {
    color: #212121!important;
}
.richText {
    width: 75%;
    margin: 0 auto;
}
.HomeBanner {
    height: calc(80vh - 115px)!important;
    width: 100%;
    background-position: center center!important;
    background-size: cover!important;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.richText h1 {
    font-size: 35px;
    margin-bottom: 5px;
    line-height: 1;
    font-family: 'avalonbold';
    color: #323131;
    word-spacing: -4px;
}
.richText h4 {
    font-weight: normal;
    font-size: 15px;
    margin: 15px 0;
    line-height: 25px;  
}
.richText p {
    font-size: 0.9vw;
    margin-top: 5px;
    line-height: 1.2;
}
.richText p a{
    font-size: 13px;
    display: inline-block;
    min-width: 150px;
    padding: 10px 13px 9px 18px;
    border-radius: 0px;
}
.bannerCont {
    text-align: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.img-and-cont {
    overflow: hidden;
}

.carousel-cover {
    max-width: 100%;
    height: 430px;
    width: 100%;
}
.carousel-content {
    bottom: 0;
    margin-top: auto;
    position: relative;
    width: 100%;
    text-align: left;
    -webkit-transition: margin 200ms ease-in;
    -o-transition: margin 200ms ease-in;
    transition: margin 200ms ease-in;
    clear: both;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #FFE256!important;
    border-radius: 50%;
    font-size: 0;
}
.owl-nav .owl-next {
    right: -50px;
}
.owl-nav .owl-prev {
    left: -50px;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}
.owl-nav {
    width: 100%;
}
.owl-nav img{
    width: 50%;
    height: inherit;
}




.bannerMid {
    height: 400px;
    width: 98%;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: contain!important;
    position: relative;
    margin-left: 10px;
    margin-bottom: -12px!important;
}
.bannerMid .button:hover{
    color: #FFF!important;
    background-color: #545454;
}
.bannerMid .bannerMidCont {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    margin-top: 150px;
    text-align: center;
}
.bannerMidCont h2 {
    line-height: 1.5;
    font-size: 24px!important;
    margin-bottom: 15px;
    font-family: 'avalonbold';
}
.bannerMidCont p {
    font-size: 14px;
}
.carousel-content p {
    font-size: 12px;
    text-align: center;
}
.buyerSection a {
    /* font-family: 'avalonbold'; */
    text-transform: uppercase;
}




.heading{
    margin-bottom: 24px;    
}
.heading h2 {
    font-size: 24px;
    font-weight: 300;
}


.productImgInn{
    overflow: hidden;
}
.productImgInn .carousel-content {
    bottom: 0;
    margin-top: auto;
    position: relative;
    width: 100%;
    text-align: left;
    -webkit-transition: margin 200ms ease-in;
    -o-transition: margin 200ms ease-in;
    transition: margin 200ms ease-in;
    clear: both;
}
.productImgInn .carousel-content p {
    text-align: left;
    font-size: 13px;
}
.owl-carousel .owl-nav.disabled {
    display: block!important;
}
.bussiness h5{
    font-family: 'avalonbold';
}
.bussinessImg img {
    width: 100%;
}
.bussiness {
    background: #ffe44d;
}
.bussiness p {
    line-height: 2.0;
    font-weight: inherit;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
.bussinessToggle label{
    margin-right: 15px;
}
.bussinessToggle {
    display: flex;
    align-items: center;
}




.bestSeller .item p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.trendingStories .item .carousel-content P:nth-child(1) {
    font-size: 11px;
    font-family: 'avalonbold';
}



/*footer*/
footer{
    background-color: #f8f8f8;
}
.mobile_menu ul li a img{
    width: 15px;
}
.mobile_menu ul li a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
    padding: 15px 25px 15px 15px;
    display: block;
    font-weight: 800;
    font-family: 'avalonbold'!important;
    font-size: 13px;
}
.mobile_menu ul li a span{
    float: right;
    font-size: 22px;
    margin-top: -7px;
}
.mobile_menu ul li{
    list-style: none;
}
.socialIcon ul li{
    display: inline-block;
    list-style: none;
    margin-left: 14px;
}
.socialIcon ul li:nth-child(1){
    font-size: 13px;
    font-family: 'avalonbold';
}
.newletter{
    font-size: 13px;
    /* font-size: 1.4rem; */
    color: #fff!important;
    display: inline-block;
    min-width: 150px;
    padding: 3px 5px;
    line-height: 14px;
    text-align: center;
    background-color: #545454;
    -webkit-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}
.newsletterPart{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.boxFooterGrid {
    width: 15%;
    vertical-align: top;
    display: inline-block;
    padding: 0 5% 0 0;
    color: #545454;
}
.boxFooterGrid .componentContent {
    float: left;
    width: 100%;
}
.boxFooterGrid ul{
    margin-bottom: 0;
}
.boxFooterGrid ul li{
    list-style: none;
}
.boxFooterGrid ul li a {
    font-size: 13px;
    line-height: 30px;
    font-family: 'avalonregular'!important;
}
.boxFooterGrid p {
    margin-bottom: 0;
    color: #545454;
    font-size: 13px;
    margin-bottom: 8px;
}
.footerMenu{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.retailer p {
    line-height: 16px;
    color: #545454;
    font-size: 13px;
    font-family: 'avalonbold';
}
.retailer p:nth-child(2) {
    font-size: 12px;
}

.footerBottom{
    background-color: #e7e7e7;
}
.footBtmInn a{
    float: left;
}
.footBtmInn .term-and-cond{
    float: left;
}
.term-and-cond ul li a {
    font-size: 11px;
    font-weight: 800;
}
.term-and-cond ul li {
    display: inline-block;
    position: relative;
    margin-left: 15px;
}
.term-and-cond ul li:nth-child(1):before {
    content: "";
    height: 0px;
    width: 0px;
    background: #545454;
    position: absolute;
    border-radius: 5px;
    top: 40%;
    left: -15px;
}
.term-and-cond ul li:before {
    content: "";
    height: 5px;
    width: 5px;
    background: #545454;
    position: absolute;
    border-radius: 5px;
    top: 40%;
    left: -15px;
}
.footBtmInn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.copyright p:nth-child(1){
    font-family: 'avalonbold';
}
.copyright p{
    font-size: 9px;
}
.logoPart{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.componentContent ul li img{
    width: 15px;
}

/*submenu*/
.subMenu {
    position: absolute;
    left: 0;
    right: 0;
    top: 116px;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 99;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.0);
    -webkit-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.subMenuInn {
    width: 20%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
}
.subMenuBtn .subMenu ul>li>a{
    line-height: 25px!important;
    text-align: left;
}   
.submenuAni {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 15px 0;
    height: -webkit-min-content;
    height: -moz-min-content;
    /* height: min-content; */
    height: 100%;
    background: #fff;
    -webkit-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}
.subMenuBtn:hover .subMenu{
    height: calc(100vh - 116px);
    -webkit-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}
.menuBar img{
    width: 30px;
    cursor: pointer;
}












/*media query*/
@media (max-width: 1465px){
    .footBtmInn .term-and-cond {
    float: unset;
}
.footBtmInn a {
    float: unset;
}
.footBtmInn {
    display: initial;
}
.term-and-cond ul li {
    margin-right: 15px;
    margin-left: 0px;
}
}




@media (max-width: 991px){
    .newsletterPart {
    border-top: 1px solid rgba(0, 0, 0, 0.0)!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0)!important;
    margin: 7px 0;
}
.translation-country {
    width: 100%;
    position: relative;
    z-index: 999;
}
.bannerCont {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}
.HomeBanner {
    background-position: right center!important;
}
footer{
    background-color: #e7e7e7!important;
}

.lowerHeader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 80%;
    background-color: #f8f8f8;
    border-right: 1px solid #000;
    z-index: 99;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
    overflow-y: scroll;
}
.mobileMenu.active .lowerHeader{
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
    z-index:9999;
}
.subMenu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh!important;
    width: 100%;
    background-color: #f9f9f9!important;
    border-right: 1px solid #000;
    z-index: 99;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
    overflow-y: scroll;
}
.subMenu.active{
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}
.subMenuInn {
    width: 20%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
}
.subMenuInn {
    width: 100%!important;
    -ms-flex-preferred-size: 100%!important;
        flex-basis: 100%!important;
}
.lowerHeader ul .subMenuBtn a img{
    width: 20px;
}
.lowerHeader ul .subMenuBtn{
    display: block;
}
.lowerHeader ul .subMenuBtn a{
    padding: 5px 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    text-align: left;
}
.sidebarContent{
    width: 100%;
}
.sidebarContent ul {
    background-color: #fff;
}
.lowerHeader p{
    padding: 10px 20px;
    font-family: 'avalonbold';
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    font-size: 13px;
    color: #545454;
}
.sidebarContent>a {
    text-align: center;
    display: block;
}
.backToMenu p {
    padding: 0px 20px;
    font-family: 'avalonbold';
    border-bottom: none;
    margin-bottom: 0;
    font-size: 13px;
    color: #545454;
}
.backToMenu{
    padding: 10px 0px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #f8f8f8;
}
.submenuAni{
    padding-top: 0!important; 
}
.backToMenu p span {
    font-size: 16px;
    margin-right: 10px;
}
.categoryName {
    background: #fff;
    padding: 0px!important;
    margin: 0px!important;
}
.categoryHeaderDiv {
    background: none!important;
}
.filterMainDiv {
    margin-top: 20px!important;
}
.submenuAddress {
    position: static!important;
    width: 100%!important;
    transform: translate(0, 0)!important;
    height: auto!important;
    margin-top: 20px;
}
.storeDiv ul {
    background-color: transparent!important;
}
.storeDiv .subMenuInn {
    width: 100%!important;
}
.subMenuimg {
    display: block!important;
}
}







@media (max-width: 767px){
    .lowerHeader ul>li{
        margin: 0 5px;
}
.submenuAddress{
    display: none!important;
}
.accountMenu {
    width: 100%;
    flex-basis: 100%;
}
.accountContent {
    width: 100%;
    flex-basis: 100%;
}
.accountMenu ul li a {
    line-height: 35px!important;
}
.storeDiv .subMenuInn {
    width: 100%!important;
}
.storeDiv ul li {
    margin: 10px 0!important;
}
    .bannerMid {
    height: 250px;
    width: 100%;
    background-size: cover!important;
    margin-left: 0px;
}
.bannerMid .bannerMidCont {
    margin-top: 65px;
    width: 100%;
}
.bannerMidCont h2 {
    font-size: 20px!important;
}
.richText h1 {
    font-size: 25px;
}
.carouselNew {
    display: flex;
    margin: 0 5px!important;
}

    .shipping-content {
        margin-bottom: 0px!important;
    }
}
@media (max-width: 575px){
    .subMenuimg{
        display: none!important;
    }
}
@media (max-width: 767px) and (min-width: 575px){
.carousel-cover {
    height: 550px;
}
}

@media (max-width: 480px) and (min-width: 320px){
.carousel-cover {
    height: 350px;
}
.bannerCont {
    width: 100%;
    margin: 0 auto;
}

}




/*about page*/
.middle_part h6{
     font-size: 13px;
    font-family: 'avalonbold';
}
.middle_part{    
    background-color: #f8f8f8;
}
.middle_part p{
     font-size: 13px;
}
.middle_part ul{
    margin-left: 20px;
    font-size: 13px;
}
.middle_part h2{
    font-family: 'avalonbold';
}
.main-cont{
    font-size: 13px;
}
.main-cont ul li p{
    margin-bottom: 0;
}
.middle_part table tr td {
    padding: 10px 12px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8!important;
}
.middle_part table{
    width: 100%;
}
.table_font_family{
    font-family: 'avalonbold';
}

/* Cookies start */
.cookies {
    background: rgba(253, 226, 86, 0.88);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
  }
  .cookies-cont{
    padding: 20px 0 5px 25px;
  }
  .cookies-btn{
  display: flex;
  align-items: center;
  margin-top: 50px;
  
  }
  .cookies-btn button{
    padding: 18px 25px;
  }
  @media (max-width: 768px){
  .cookies-btn{
  margin-top:10px;
  width: 100%;
  }
  .cookies-btn button {
    padding: 18px 25px;
    width: 200px;
    margin: 0 auto;
}
  .cookies-cont{
    padding: 40px 0 20px 25px;
  }
  .cookies {
    padding-bottom: 32px;
  }
  }
  /* End Cookies */

  /*category page*/

  .categoryDropdown select {
    width: 200px;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
}
  /* old css 
.categoryDropdown select {
    width: 100%;
    border: navajowhite;
}
.categoryDropdown select {
    font-size: 13px;
    background-color: transparent;
}*/
.categoryDropdown label {
    margin-bottom: 0;
    font-size: 14px;
    color: #c0c0c0;
}
.navigatePage ul li{
    font-size: 12px;
}
.result p {
    font-size: 13px;
    margin-bottom: 0;
}
.result p span{
    font-family: 'avalonbold';
}
.imgWithHover{
    display: none;
}
.categoryOuter:hover a>.imgWithHover {
    display: block;
}
.categoryOuter:hover a>.imgWithOutHover {
    display: none;
}
.categoryOuter img {
    width: 100%;
    margin-bottom: 12px;
    z-index: 88;
    position: relative;
}
.categoryOuter {
    contain: content;
    position: relative;
    margin-bottom: 8px;
}
.categoryContent p{
    font-size: 13px;
    margin-bottom: 10px!important;
}
.categoryContent .price {
    font-family: 'avalonbold'!important;
    color: #545454;
}
.categoryContent p span{
    font-size: 10px;
}
.categoryContent p:nth-child(3){
    font-family: 'avalonbold';
    color:#545454;
}
.categoryContent h6{
    font-family: 'avalonbold';
    margin-bottom: 0;
    color: #545454;
}
.categoryBtn p a img{
    width: 12px;
}
.categoryBtn p button img{
    width: 12px;
}
.button.btnHover:hover{
    color: #858585!important;
    background-color: #545454;
}
.button.btnHover{
    color: rgb(33, 33, 33)!important;
}
.whislist{
     font-size: 13px;
    /* font-size: 1.4rem; */
    color: #fff!important;
    display: block;
    min-width: 0px;
    width: 100%;
    padding: 10.5px 10px;
    line-height: 14px;
    text-align: center;
    background-color: rgb(33, 33, 33);
    -webkit-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}
.whislist.btnHover:hover{
    color: #858585!important;
    background-color: #545454;
}
.categoryBtn p a img {
    margin-bottom: 0;
}
.categoryBtn p button img {
    margin-bottom: 0;
}
.categoryBtn p .button {
    min-width: 0;
    display: block;
}
.categoryBtn p a span img:nth-child(2){
    display: none;
    margin-bottom: 0;
}
.categoryBtn:hover p a span img:nth-child(1){
    display: none;
}
.categoryBtn:hover p a span img:nth-child(2){
    display: inline-block;
}
.categoryBtn p button span img:nth-child(2){
    display: none;
    margin-bottom: 0;
}
.categoryBtn:hover p button span img:nth-child(1){
    display: none;
}
.categoryBtn:hover p button span img:nth-child(2){
    display: inline-block;
}
/* .categoryButton {
   transform: translateY(-58px);
   transition: 400ms ease-in-out;
}
.categoryOuter:hover .categoryButton {
    transform: translateY(0px);
   transition: 400ms ease-in-out;
} */
.checkboxGroup{
    display: flex;
    align-items: center;
}
.checkboxGroup p{
    margin-bottom: 0;
}
.refinedBrand input.searchInput {
    border: none;
    width: calc(100% - 23px);
}
.refinedBrand input[type="checkbox"]{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}
.filterMainDiv h6{
    font-family: 'avalonbold';
    color: #545454;
}
.filterMainDiv p{
    color: #000;
    font-size: 13px;
    width: 100%;
}
.filterMainDiv p span{
    color: #9d9d9d;
}
.filterMainDiv {
    margin-top: 100px;
}
.scrolly {
    overflow-y: scroll;
    max-height: 350px;
    min-height: 50px;
}
.navigatePage .refineBtn {
    padding: 11px;
    background: #212121;
    color: #FFF!important;
    width: 100%;
    display: block;
    text-align: center;
}
.mobilefilter {
    background: #fff;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: 300ms ease-in-out;
}
.category.active .mobilefilter {
    transform: translateX(0%);
    transition: 300ms ease-in-out;
}
.mobilefilter>ul>li>a{
    padding: 14px 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    text-align: left;
}
.mobilefilter>ul>li>a>span {
    float: right;
    font-size: 20px;
    margin-top: -2px;
}
.mobileFilterInn{
    background-color: #f8f8f8;
    padding: 15px 0;
}
.mobileFilterInn p{
    font-size: 13px
}
.mobileFilterInn h6{
    font-size: 16px
}
.mobileFilterInn p span{
    font-family: 'avalonbold';
}
/* .mobileFilterInn p {
    padding: 10px 20px;
    font-family: 'avalonbold';
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    font-size: 13px;
    color: #545454;
} */
/* product detail */
.productDetailOut .littleImg {
    display: flex;
    flex-wrap: inherit;
    overflow-x: scroll;
  }
  
  /* The Modal (background) */
  .productDetailOut .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .productDetailOut .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    border: none!important;
  }
  
  /* The Close Button */
  .productDetailOut .close {
    color: black;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 999999;
  }
  
  .productDetailOut .close:hover,
  .productDetailOut .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .productDetailOut .mySlides {
    display: none;
  }
  .productDetailOut .mySlides img {
    height: 100vh;
  }
  .productDetailOut .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .productDetailOut .prev,
  .productDetailOut .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .productDetailOut .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .productDetailOut .prev:hover,
  .productDetailOut .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .productDetailOut .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .productDetailOut .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .productDetailOut .demo {
    opacity: 0.6;
  }
  
  .productDetailOut .active,
  .productDetailOut .demo:hover {
    opacity: 1;
  }
  
  .productDetailOut img.hover-shadow {
    transition: 0.3s;
  }
  .productContInn h2{
      font-family: 'avalonbold';
      text-transform: uppercase;
      font-size: 35px;
  }
  .productContInn h6{
      font-family: 'avalonregular';
  }
  .productContInn p{
      font-size: 14px;
      font-family: 'avalonbold';
  }
  .productCont {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      height: 100%;
  }
  .productCont p{
      width: 100%;
      font-size: 12px;
  }
  .productCont p:nth-child(3) span{
      font-family: 'avalonbold';
      display: block;
  }
  .productDetailOut .closefilter {
      position: absolute;
      top: 15px;
      right: 15px;
  }
  .selectDiv select {
      /* width: calc(100% - 50px); */
      width: 100%;
      font-size: 13px;
      padding: 5px;
      margin-top: 25px;
      padding: 10px 0;
  }
  .selectDiv label {
      font-family: 'avalonbold';
      font-size: 14px;
  }
  .anchorDiv {
      display: flex;
      justify-content: space-between;
  }
  .anchorDiv a {
    text-decoration: underline!important;
    font-family: 'd-dinregular'!important;
}
  .navigateList ul li{
      font-size: 13px;
  }
  .deliverydetail .nav-tabs li a.active{
      background: transparent;
      border-bottom: none;
  }
  .deliverydetail .nav-tabs li a{
      font-family: 'd-dindin-bold' !important;
      padding: 15px 30px;
      display: block;
      border: 1px solid #eaeaea;
      background: #f8f8f8;
      width: 220px;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      color: #000!important;
  }
  .deliverydetail .tab-content{
      border: 1px solid #eaeaea;
      padding: 25px 15px 15px 15px;
  }
  .deliverydetail p{
      font-size: 13px;
  }
  .tabCont ul li{
      font-size: 13px!important;
      margin-bottom: 8px;
  }
  .tabCont ul {
      min-height: 130px;
  }
  .deliverydetail p .button {
      font-family: 'avalonbold'!important;
      color: #000!important;
      margin-bottom: 20px;
      display: inline-block!important;
      padding: 15px 75px;
  }
  .deliverydetail p span{
      font-family: 'avalonbold'!important;
  }
  .deliverydetail h6{
      font-family: 'avalonbold'!important;
      font-size: 14px;
  }
  .tabCont h6 span{
      float: right;
      margin-right: 15px;
  }
  #deliveryTab p span {
      float: right;
  }
  .tabCont>a {
      text-decoration: underline!important;
      color: blue!important;
      font-size: 14px;
  }
  .deliverydetail .tab-content {
      height: 280px;
      overflow-y: scroll;
  }
  .deliverydetail .fade:not(.show) {
      opacity: 1;
  }
  .alsoLike .categoryContent p:nth-child(1){
      font-family: 'avalonbold'!important;
  }
  .alsoLike .categoryContent p{
      font-size: 13px;
  }
  .alsoLike .categoryContent{
      margin-top: 10px;
      padding: 10px
  }
  .alsoLike .item{
      border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .alsoLike .owl-nav .owl-prev, .alsoLike .owl-nav .owl-next {
      position: absolute;
      top: -10%;
      background-color: transparent!important;
  }
  .alsoLike .owl-nav .owl-prev {
      left: 90%;
  }
  .alsoLike .owl-nav .owl-next {
      right: 1%;
  }
  .youMayAlsoLike p {
      font-size: 34px;
      position: absolute;
      font-family: 'avalonbold'!important;
      width: 336px;
      transform: rotate(-90deg) translate(-150px, -110px);
      margin-bottom: 0;
  }
  .youMayAlsoLike {
      position: relative;
  }
  .youMayAlsoLike p img {
      transform: rotate(90deg);
      width: 25px;
  }
  .moreFromCont p q{
      font-family: 'avalonbold'!important;
      font-size: 22px;
  }
  .moreFromCont p q:before{
      font-size: 30px;
      margin-left: -15px;
  }
  .moreFromCont p q:after{
      font-size: 30px;
  }
  .moreFromCont {
      border-left: 5px solid #ffe256;
      padding-left: 40px;
  }
  .moreFromContOut>p {
      font-size: 20px;
      position: relative;
      margin-top: 40px;
      margin-left: 45px;
  
  }
  .moreFromContOut>p:before {
      content: "";
      position: absolute;
      height: 1px;
      top: -20px;
      width: 40px;
      background: #000;
  }
  .moreFromContOut{
      padding-bottom: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  }
  .moreFromBtn ul li a {
      display: block;
      padding: 10px 25px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      width: 150px;
      font-family: 'avalonbold'!important;
      text-align: center;
  }
  .moreFromBtn ul li:hover a {
      border: 1px solid #ffe256;
  }
  .moreFromBtn h3{
      font-family: 'avalonbold'!important;
      text-align: center;
  }
  .recentlyViewd a img {
      width: 100%;
  }
  .alsoLike {
      position: relative;
  }
  .alsoLike .close {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
  }
  
  /* popup */
  .shopPopup .modal-dialog {
      max-width: 800px;
  }
  .shopPopup .modal-body {
      padding: 0!important;
  }
  .popBigImg img {
      width: 100%;
  }
  .shopPopup .owl-nav .owl-prev, .shopPopup .owl-nav .owl-next {
      background-color: #f8f8f8!important;
  }
  .popupContent .categoryContent h4{
      font-family: 'avalonbold'!important;
  }
  .popupContent form select{
      border: none!important;
      width: 100%;
      background: transparent;
  }
  .productDetailPage a{
      font-family: 'avalonbold'!important;
      font-size: 14px;
  }
  .popupLikeBtn {
          border: 1px solid #b0b0b0;
          border-radius: 50px;
          padding: 10px;
          height: 45px;
          width: 45px;
  }
  .popupLikeBtn:hover {
    background: #e7e7e7;
}
.addToBag p{
    position: relative;
}
.addToBag p img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
  .popupContent .addToBag a{
      padding: 16px 0;
      font-family: 'avalonbold'!important;
  }
  .productDetailOut .addToBag .button {
    font-family: 'avalonbold'!important;
    font-size: 14px;
    color: #000!important;
}
  .shopPopup .close {
      font-size: 25px;
      position: absolute;
      top: 8px;
      right: 15px;
      opacity: 1!important;
      cursor: pointer;
      z-index: 99
  }
  .editCont{
    width: 25%!important;
    text-align: center;
    background: transparent;
    border: none!important;
}
.numberBtn .btn{
    color: #3e3e3e;
    background-color: #f3f3f3;
    border-radius: 50%;
}
.numberBtn .btn:focus{
    box-shadow: none!important;
    outline: none!important;
}

  
/* shopping cart */
.order-summary {
    background: #f2f2f2;
    padding: 18.5px 20px;
}
.order-cont button {
    background-color: #fde256;
    font-weight: bold;
    border-radius: 0;
}
.order-cont a {
    color: #0f0f0f;
    margin-bottom: 10px;
    display: block;
    text-decoration: underline;
    font-weight: bold;
}
.order-cont p:nth-child(1) {
    border-left: 4px solid #fde256;
    padding-left: 12px;
}
.shopping-bag-sec {
    margin: 10px 0;
}
.shipping-content {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    border-top: 1px solid;
}
.shipping-content .floatLeft h4 {
    font-size: 13px!important;
}
.shipping-content .floatLeft h5 {
    font-size: 13px!important;
}
.shipping-content .form-field-area p select {
    float: left;
    min-width: 80px;
    width: 100px;
    border: none;
    border-bottom: 1px solid;
}
.floatRight{
    float: right;
}
.cart-image img {
    width: 100%;
}
.shopping-cart p, .shopping-cart a{
    font-size:  13px;
}
.order-cont {
    border-top: 1px solid;
    padding-top: 20px;
}
.delete_cont {
    width: 100%;
    text-align: right;
}
.favourite_cont button span {
    font-size: 13px;
    text-decoration: underline!important;
    color: #000!important;
}
.sh-left-tab-cont {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 84%;
}
.shopping-cart h2{
    font-family: 'avalonbold'!important;
    font-size: 26px;
}
.shopping-bag p span{
    font-family: 'avalonbold'!important;
}
.order-cont button {
    font-size: 18px;
    font-family: 'avalonbold'!important;
}
  /* brand banner */
  section.brandSection {
      background-repeat: no-repeat;
      background-size: cover;
  }
  .bvlgari .heading h2{
      text-transform: uppercase;
  }
  .headerCont p span{
      font-family: 'avalonbold'!important;
  }


.carouselCaption .carousel-control-prev-icon {
    background-image: none;
}
.carouselCaption .carousel-control-next-icon {
    background-image: none;
}r



  .brandSect .buyer .categoryContent p:nth-child(1){
      font-family: 'avalonbold'!important;
      text-transform: uppercase;
      font-size: 15px!important;
      margin-top: 10px;
  }
  .brandSect .buyer .categoryContent p{
      margin-bottom: 0!important;
  }
  .brandVideo{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
  }
  
  
  
  /* login form */
  .loginDiv form input {
      width: 100%;
      padding: 16px 8px;
      margin-bottom: 16px;
      border: 1px solid #9e9998;
  }
  .loginDiv>p {
      font-size: 20px;
      text-align: center;
  }
  .loginDiv>p:nth-child(3) a, .loginDiv>p:nth-child(4) a {
      width: 100%;
      background: #212121;
      color: #fff!important;
      font-size: 14px;
      padding: 16px 0;
  }
  .loginDiv>form>a {
      text-align: right;
      display: block;
      font-size: 13px;
      color: blue!important;
  }
  .rememberMe {
      font-size: 14px;
  }
  .loginDiv>p:nth-child(2){
      font-size: 13px;
  }
  .loginDiv .list-group-item {
      border: 1px solid rgba(0, 0, 0, 0.3)!important;
      padding: 0.75rem 2rem;
  }
  .loginDiv form ul li{
      font-size: 13px;
  }
  .field-icon {
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  .loginDiv form p.term-and-Cond a {
      width: auto!important;
      background: transparent!important;
      color: blue!important;
      font-size: 13px;
      padding: 0!important;
  }
  .loginDiv form p.term-and-Cond {
      font-size: 13px;
  }
  .passwordRules p{
      font-family: 'avalonbold'!important;
  }
  .passwordRules ul li{
      list-style: none;
      margin: 10px 0;
  }
  .toggleDiv{
      font-size: 13px;
  }
  .loginDiv form select {
      padding: 9px;
      width: 150px;
      margin-bottom: 16px;
  }
  .borderLeft{
      border-left: 1px solid rgba(0, 0, 0, 0.2)
  }
  .forgotPassword p{
      text-align: left!important;
  }
  .forgotPassword form input{
      width: 75%;
  }
  .forgotPassword form label{
      font-size: 12px;
      display: block;
  }
  .forgotPassword form p a{
      padding: 20px 0;
      width: 75%;
      margin-top: 20px;
  }
  .remove_sec{
    border: none;
    background: transparent;
    font-size: 15px !important;
    color: #000000;
    opacity: 1;
  }

  @media (min-width: 1200px){
    .category .container, .productDetailOut .container, .deliverydetail .container {
        max-width: 1340px;
    }
    }
.signup-btn{
    width: 100%;
    background: #212121;
    color: #fff!important;
    font-size: 14px;
    padding: 16px 0;
    border: none;
    cursor: not-allowed;
}


/*sign in popup*/
.menuPopup {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 99;
    right: -45px;
    top:28px;
    width: 180px;
    display: none;
    background: #f8f8f8!important
}
.upperMiddleSideContent>ul>li:nth-child(1) {
    position: relative;
}
.upperMiddleSideContent>ul>li:nth-child(1):hover .menuPopup {
    display: block;
}
/* .menuPopup>ul>li:nth-child(1) a {
    background-color: #ccc;
} */
.menuPopup>ul>li{
    display: block;
    width: 100%;
    margin-right: 0;
}
.menuPopup>ul>li:hover{
    background: #e7e7e7;
}
.menuPopup>ul>li.active{
    background: #e7e7e7;
}
.menuPopup>ul {
    display: block;
    float: left;
    width: 100%;
}
.menuPopup ul li a {
    display: block;
    padding: 12px 10px;
    font-size: 13px;
}

/* brand directory */
.brandDirectory form select{
    border: none;
    background-color: transparent;
    width: 200px;
    font-size: 13px;
}
.brandDirectory form select:focus{
    outline: none;
}
.brandDirectory form label{
    display: block;
    color: #b7b7b7;
}
.brandDirectory form {
    display: flex;
}
.brandDirectory form .inputSearch{
    margin-right: 20px;
}
.alphabet ul li {
    background: #000;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    text-align: center;
}
.alphabet ul li a {
    padding-top: 4px;
    display: block;
    text-transform: uppercase;
}
.mainBrandDirectory{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.brandDirectoryInn8{
    width: 8%;
    flex-basis: 8%
}
.brandDirectoryInn23{
    width: 23%;
    flex-basis: 23%
}
.brandDirectoryInn8 h2{
    color: #323131!important;
    padding-top: 4px;
    display: block;
    font-family: 'avalonbold'!important;
    text-transform: uppercase;
    font-size: 50px;
}
.brandName{
    position: relative;
}
.brandDirectory.active{
    position: sticky;
    padding: 15px 0 10px; 
    top: 115px;
    background-color: #fff!important;
    z-index: 9;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.2);
}
.brandDirectory.active .heading{
    display: none;
}


/*account pages*/
#breadcrumb {
    width: 100%;
    padding: 4px 12px 8px;
    border-bottom: 1px solid #CCD;
}
#breadcrumb ul li{
    font-size: 11px;
    text-transform: uppercase;
}
.accountCont{
    border:1px solid #ccc;
}
.accountDiv{
    max-width: 250px;   
}
.fieldSection label {
    font-size: 13px;
    display: block;
}
.accountMainDiv {
    display: flex;
    flex-wrap: wrap;
}
.accountMenu {
    width: 250px;
    background: #f8f8f8;
    box-shadow: inset -6px 0px 13px -4px #DDDDDD;
}
.accountMenu ul li {
    width: 100%;
    border-bottom: 1px solid #dadada;
    list-style: none;
}
.accountMenu ul li a {
    display: block;
    padding: 5px 20px;
    color: #545454;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.04em;
    transition: all 0.6s;
}
.accountMenu ul li.active a{
    background: #fff;
    font-weight: bold;
}
.accountContent {
    width: calc(100% - 250px);
}
.savedAddress {
    border: 1px solid #e7e7e7;
    padding: 15px;
}
.addressDiv p:nth-child(1) {
    font-size: 14px;
    margin-bottom: 10px;
}
.addressDiv p {
    font-size: 11px;
    margin-bottom: 0;
}
.editDiv {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.editDiv ul li a {
    font-size: 11px;
}
.addressDiv p:nth-child(1) span {
    color: #00b000;
    border: 1px solid #00b000;
    padding: 2px 10px;
}
.accountDiv .button {
    min-width: 120px;
    padding: 10.5px 10px;
    background-color: #212121;
    color: #fff!important;
}
.accountContent .heading h2{
    color: #545454;
}


/*my order*/
.recentOrder {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0px 20px 20px auto;
}
.recentOrder select {
    font-size: 13px;
    padding: 12px;
    width: 250px;
    text-align: right;
}
.accountCont .table tr th, .accountCont .table tr td{
    font-size: 13px;
}

/*my preference*/
.myPreference p:nth-child(1){
    font-size: 16px;
}

/*address book*/
.addressBookContent a {
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #999;
    display: block;
    padding: 15px 0;
}
.addressInputDiv input, .addressInputDiv select, .titleDiv select {
    width: 100%;
    padding: 12px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.titleDiv select{
    color:#757575;
    font-size: 13px;
}
.addressFormBorder {
    border: 1px solid #f2f2f2!important;
    padding: 25px 0;
    margin: 10px 0 25px;
}
.billingFormBorder {
    border: 1px solid #f2f2f2!important;
    padding: 25px 0;
    margin: 10px auto 25px;
    width: 96%;
}
.addressInputDiv select {
    color:#757575;
    font-size: 13px;
}
.addressBookPopup button {
    width: 100%;
    border: none;
    font-weight: bold;
    padding: 15px 0;
}
.titleDiv {
    padding: 0 15px;
}
.addressModal .modal-header {
    border-bottom: none!important;
}
.addressModal .modal-header .modal-title {
    font-size: 14px;
    font-weight: bold;
    margin-left: 3px;
}
.addressInputDiv p{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.addressInputDiv {
    padding: 0 16px;
}
.addressModal .modal-dialog{
    max-width: 600px!important;
}

/*wishlist*/
.wishlistmain{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.wishlistImg{
    width: 40%;
    flex-basis: 40%;
}
.continueShopping {
    background: #ffe256;
}
.wishlistCont{
    width: 60%;
    flex-basis: 60%;
    padding:15px 10px 10px 10px;
}
.wishlistCont p:nth-last-child(1){
    font-family: 'avalonbold'!important;
}
.wishlistImg img {
    width: 100%;
}
.wishlistmain {
    border: 1px solid #dedede;
}
.viewDetail {
    width: 100%;
    border: none;
    font-size: 13px;
    padding: 7px 0;
    background-color: #e7e7e7;
}
.wishlistCont h6 {
    font-weight: 800;
}
.wishlistCont p {
    font-size: 11px!important;
}
.wishlistclose {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 25px;
    cursor: pointer;
}
.viewDetailWishlist{
    font-size: 13px;
    color: #212121;
    display: inline-block;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    background-color: #ffe256;
    -webkit-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}

/*toggle button*/
.formSection .switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 22px;
}

.formSection .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.formSection .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.formSection .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.formSection input:checked + .slider {
  background-color: #2196F3;
}

.formSection input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.formSection input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.formSection .slider.round {
  border-radius: 34px;
}

.formSection .slider.round:before {
  border-radius: 50%;
}
.formSection input:checked .bussinessPurpose {
  display: block;
}

/*checkout*/
.checkoutProcess {
    width: 100%;
    background: #f2f2f2;
    padding: 18px 35px;
    margin-bottom: 15px;
}
.paymantOption input {
    width: 100%;
    background: #ffe256;
    color: #000;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 15px;
}
.addressList {
    display: inline-flex;
    width: 48.7%;
    list-style: none;
    margin: 0 .5%;
}
li.addressList label {
    width: 100%;
}
.paymentMode label img {
    width: 20px;
}
.checkoutProcess p {
    font-size: 15px;
    font-family: 'avalonbold'!important;
    margin: 0;
}
.deliveryMethod, .paymentMode {
    display: flex;
    align-items: center;
    border: 1px solid #f2f2f2;
    padding: 10px 15px;
    margin-bottom: 50px;
}
.deliveryMethod label, .paymentMode label{
    font-size: 13px;
    font-family: 'avalonbold'!important;
}
.deliveryMethod input, .paymentMode input {
    width: 18px;
    height: 18px;
}
.chooseMethod{
    width: 100%;
    padding: 15px;
    margin: 15px 0;
}
.chooseMethod p {
    font-size: 14px;
    margin-bottom: 0;
    font-family: 'avalonbold'!important;
}
.clickCollect{
    width: 100%;
    padding: 15px;
    margin: 15px 0;
}
.clickCollect p {
    font-size: 14px;
    margin-bottom: 0;
    font-family: 'avalonbold'!important;
}
.editSummary {
    width: 50px;
    text-align: right;
}
.orderSummary{
    width: calc(100% - 50px)
}
.checkoutImg{
    width: 25%;
    flex-basis: 25%;
    padding: 10px;
}
.checkoutCont{
    width: 75%;
    flex-basis: 75%;
}
.checkoutCont p:nth-child(3) {
    margin: 0;
}
.checkoutBorder {
    border: 1px solid #f2f2f2;
    padding: 15px 15px;
    min-height: 140px;
}
.fontWeight {
    font-weight: bold;
    margin: 0;
    font-size: 14px!important;
    margin-top: -10px;
}
.checkoutBorder input {
    visibility: hidden;
    margin-top: 3px;
}
.totalPrice p{
    font-family: 'avalonbold'!important;
    font-size: 14px;
}
.totalPrice {
    margin-top: 15px;
}
.checkoutOut {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
.address-view{
        width: 100%;
        border: 1px solid #ccc;
        min-height: 100px;
        margin: 20px;
        box-shadow: 0px 0px 5px #ccc;
        padding: 15px;
}
.viewToggle {
    cursor: pointer;
    text-align: right;
}







/* wishlist count */
.wishlistCount {
    position: relative!important;
}
.wishlistCount p {
    padding: 1px;
    background-color: #000;
    color: #ccc;
    position: absolute;
    top: 0;
    right: -8px;
    height: 15px;
    width: 15px;
    text-align: center;
    font-size: 9px;
    border-radius: 17px;
}
/* wihlist count end */


/*modal*/
.modal {
    z-index: 10509!important;
    background: rgba(0, 0, 0, 0.5)!important;
}



/* detail page */
.gallery_pdp_container #gallery_pdp a img {
    width: 100%!important;
    margin-bottom: 5px;
}
.imgViewerDiv .gallery-viewer img {
    width: 100%!important;
}
.carouselNew {
    height: 100%!important;
    width: auto!important;
}
.youMayAlsoLikeHeading {
    width: 100%;
    padding: 11px 20px;
}
.youMayAlsoLikeHeading h5 {
    font-size: 16px;
    font-family: 'avalonbold'!important;
}
.addToCartBtn{
    font-size: 13px;
    color: #ffffff;
    display: inline-block;
    min-width: 150px;
    padding: 10.5px 10px;
    line-height: 14px;
    background-color: #212121;
    text-align: center;
    border: 1px solid #212121;
    -webkit-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}
.wishlistbutton {
    font-size: 13px;
    color: #212121;
    display: inline-block;
    min-width: 150px;
    padding: 10.5px 10px;
    line-height: 14px;
    text-align: center;
    border: 1px solid #212121;
    -webkit-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}
.accordion{
    width:100%;
    margin: 30px auto 0;
    border-top: 1px solid #ccc;
}
.accordion-toggle {
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    margin: 0;
    padding: 18px 0;
    position: relative;
    font-size: 16px;
    font-family: 'avalonbold'!important;
}
.accordion-toggle.active:after{
    content:"";
    position:absolute;
    right:0;
    top:17px;
    width:0;
    height:0;
    border-bottom:5px solid #000;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
}
.accordion-toggle:before {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    width: 0;
    height: 0;
    border-top: 5px solid #000;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
}
.accordion-content ul li{
    font-size: 13px!important;
    margin: 0!important;
    list-style: disc!important;
}
.accordion-toggle.active:before{
    display:none;
}
.accordion-content {
    display: none;
}
.accordion-toggle.active {
    color: #000000;
}
.accordion-content p {
    margin-top: 12px;
    text-align: justify;
}
.singlePTag{
    font-size: 12px;
}
.alsoLikeInnPage img{
    width: 100%;
}
.alsoLikeInnPage .withHoverImg{
    display: none;
}
.alsoLikeInnPage:hover .withHoverImg{
    display: block;
}
.alsoLikeInnPage:hover .withoutHoverImg{
    display: none;
}
.alsoLikeInnPage .categoryContent p{
    margin-bottom: 0!important;
}
.imgViewerDiv2 ul li a{
    font-size: 13px;
    text-decoration: underline!important;
}
.imgViewerDiv2 p {
    display: inline-block;
}
.sizeguideDiv a {
    text-decoration: underline!important;
}
.detailPage .modal-dialog {
    max-width: 800px;
}
.detailPage .modal-header{
    border-bottom: 4px solid;
}
.detailPopupImg img{
    width: 100%;
}
.detailPopupImg h6{
    font-family: 'avalonbold'!important;
    font-size: 20px;
}
.detailPopupImg ul li{
    font-family: 'avalonbold'!important;
    margin: 0!important;
    font-size: 14px;
}
.detailPage .modal-content {
    padding: 0 16px 16px;
}

/* new category */
.categoryHeaderDiv {
    background: url(../img/gucci.jpg);
    background-position: right;
    background-size: cover;
}
.categoryName {
    background: #fff;
    padding: 20px;
    margin: 35px 0 35px 25px;
}
.categoryName h5{
    font-family: 'avalonbold'!important;
}
.categoryName p a{
    font-family: 'avalonbold'!important;
}
.filterMainDiv .accordion-toggle h4 {
    font-size: 14px;
}
.filterMainDiv .accordion-toggle {
    padding: 12px 0;
}



/* 08-06-2020 */

.subMenuimg {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.submenuAddress {
    position: absolute;
    border: 5px solid #212121;
    padding: 30px 30px;
    width: 50%;
    left: 0;
    top: 50%;
    transform: translate(-150px, -50%);
    height: 275px;
    display: flex;
    align-items: center;
}
.submenuAddress h2 {
    color: #212121;
    font-family: 'avalonbold'!important;
    font-size: 20px;
}
.storeDiv {
    background: #ffe44d;
}
.storeDiv .subMenuInn {
    width: 100%;
    flex-basis: 100%;
}
.subMenuimg img {
    max-height: 500px;
    width: auto;
    transform: scale(1.3);
    transition: 1500ms ease-in-out;
}
.onHoverImgScale:hover .subMenuimg img{
    transform: scale(1);
}
.storeDiv .subMenuimg .subMenuImgOverflow {
    overflow: hidden;
}
.storeDiv ul li a {
    font-size: 14px;
    font-family: 'avalonbold'!important;
    color: #212121!important;
}
.storeDiv ul li {
    margin:15px 0;
}



/* range*/
.rangeslider input[type='range'] {
    height: 30px;
    overflow: hidden;
    cursor: pointer;
      outline: none;
  }
 .rangeslider input[type='range'],
 .rangeslider input[type='range']::-webkit-slider-runnable-track,
 .rangeslider input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
      background: none;
  }
 .rangeslider input[type='range']::-webkit-slider-runnable-track {
    height: 1px;
    background: #003D7C;
  }
  
  .rangeslider input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
  }
  #slider0to50{
    position:absolute;
    left:0%;
    }
    #slider51to100{
    position:absolute;
    left:50%;
    }
  
  .rangeslider input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
  }
  
  .rangeslider{
      position: relative;
      height: 45px;
      width: 100%;
      display: inline-block;
      margin-top: 20px;
      margin-left: 0px;
  }
  .priceRangeslider {
    display: flex;
    justify-content: space-between;
}
.priceRangeslider input {
    padding: 5px 7px;
    border: 1px solid #626262;
    outline: none;
}
   #sliderBox{
       display: flex;
       flex-wrap: wrap;
   }
   #sliderBox input {
    width: 50%;
    flex-basis: 50%;
}
   /* #rangeBox{ 
    width:300px;
    height:100px;
    
    }
    #sliderBox{
    position:relative;
    top:0%;
    width:300px;  
    }
    #slider0to50{
    width:150px;
    position:absolute;
    left:0%;
    }
    #slider51to100{
    width:150px;
    position:absolute;
    left:50%;
    }
    #inputRange{
    position:relative;
    top:50%;
    }
    #inputRange::after{
    content:"";
    clear:both;
    display:block
    }
    #inputRange #min{
     width:40%;
    float:left;
     }   
    #inputRange #max{
     width:40%;
    float:right;
    }    */


    /* jsor-slider */
    .jsor-slider{
        position:relative;
        margin:0 auto;
        top:0px;
        left:0px;
        width:100%!important;
        height:735px;
        overflow:hidden;
        visibility:hidden;
    }
       
    .jsor-slider-inn{
        cursor:default;
        position:relative;
        top:0px;
        left:0px;
        width:100%!important;
        height:735px;
        overflow:hidden;
    }
    .jsor-slider-inn img{
        width: 100%!important;
    }
    /* .slidesperimg{
        width: 100%;
    } */


    /* order return popup  */
  .ordeReturn .modal-dialog{
      max-width: 700px;
  }
  .ordeReturn .close {
    font-size: 25px;
    position: absolute;
    top: 8px;
    right: 15px;
    opacity: 1!important;
    cursor: pointer;
    z-index: 99;
}
.orderCont table tr td {
    font-size: 12px;
    padding:1px 0;
}
.orderCont h4 {
    font-size: 15px;
}