.text-danger{
    color: #e65f2e !important;
}
.bootstrap-select{
    padding: 0px !important;
    /* padding-right: 0px !important; */
}
.remove-button{
    margin-top: 20px;
}
.image-preview{
    width: calc(100% / 4);
    height: 250px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    margin: 10px;
}

#image_preview img{
    width: 100%;
    max-width: 500px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    margin: 10px;
}